
<div class="container-text">
<% if @quiz.round_count < @quiz.no_of_rounds %>
  <div class="central-text">
    <%= "Welcome to the game" %>
  </div>
      <div id="next"><%= link_to "First round", round_path(@first_round) %></div>
  <% else %>
  <div class="central-text">
    <%= "Results" %>
  </div>
<% end %>
</div>


