// Define variables for your color scheme

// For example:
$red: #EE5F5B;
$blue: #29129d; // changed to transavia blue
$yellow: #FDB631;
$orange: #E67E22;
$green: #27c86b; // chnaged to transavia blue
$gray: #000000;
$light-gray: #F4F4F4;
