<div id="launch-quiz-button">
  <%= link_to quiz_path(selected_quiz_id) do%>
    <div class="admin-home-actions">Launch quiz</div>
  <% end %>
</div>
<div id="edit-quiz-button">
  <%= link_to edit_quiz_path(selected_quiz_id) do%>
    <div class="admin-home-actions">Edit quiz</div>
  <% end %>
</div>
<div class="admin-home-actions btn-green" data-toggle="modal" data-target="#newQuizModal">New Quiz</div>
