<div class="wrapper-launch">
  <div class="container-launch">
    <%= link_to quiz_path(@admin_quizzes.last) do %>
      <div class="admin-home-actions-quick-play">Quick launch quiz "<%=@selected_quiz.name%>"</div>
    <% end %>
  </div>
</div>
<div class="wrapper-quiz-choice-actions">
  <div class="wrapper-quiz-choice">
    <div class="container-quizzes-choice-header">
      <h3>My quizzes</h3>
<!--       <div class="quiz-choice-name-header">
        <h3>Quiz name</h3>
      </div>
      <div class="quiz-choice-created-at-header">
        <h3>Created on</h3>
      </div> -->
    </div>
    <div class="container-quizzes-choice" id="quiz-selection-container">
      <%= render 'admins/quizzes_selection', admin_quizzes: @admin_quizzes, selected_quiz_id: @selected_quiz.id %>
    </div>
  </div>
  <div class="container-quizzes-actions" id="quiz-action-buttons">
    <%= render 'admins/selected_quiz_buttons', selected_quiz_id: @selected_quiz.id %>
  </div>
</div>

<% content_for :after_js do %>
  <script>

    // const onQuizSelect = () => {
    //   const quizzes = document.getElementsByClassName("quiz-choice");
    //   const launchButton = document.getElementById("launch-quiz-button");
    //   const editButton = document.getElementById("edit-quiz-button");
    //   console.log(quizzes)

    //   const quizSelect = () => {
    //     const previousQuizId = document.getElementsByClassName("selected-quiz").first.getAttribute('value');
    //     for (var i=0; i < quizzes.length; i++) {
    //       quizzes[i].classList.remove("selected-quiz");
    //     }
    //     event.currentTarget.classList.add("selected-quiz");
    //     const selectedQuizId = event.currentTarget.getAttribute('value');
    //     launchButton.innerHTML = ("<a href='/quizzes/show/${selectedQuizId}' a>");
    //     editButton.innerHTML = ("<a href='/quizzes/edit/${selectedQuizId}' a>");
    //   }
    //   for (var i = 0; i< quizzes.length; i++) {
    //     quizzes[i].addEventListener("click", quizSelect);
    //   }
    // }

    // onQuizSelect();

  </script>
<% end %>
