
.main {
  text-align: center;
  padding-top: 100px;

  h1 {
    font-size: 100px;
    margin-top: 50px;
    margin-bottom: 50px;
  }

  .secondary-child {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .fa-hand-o-right {
    font-size: 60px;
    color: $green;
    padding-top: 20px;
    margin-right: 20px;
  }

  .fa-th {
    font-size: 56px;
    color: $green;
    padding-top: 35px;
    margin-right: 20px;
  }
}

.secondary {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: -20px;
  margin-bottom: 10px;

  h1 {
    font-size: 63px;
    margin: 0px;
  }

  .secondary-child {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .fa-hand-o-right {
    font-size: 40px;
    color: $green;
    padding-top: 8px;
    margin-right: 15px;
  }

  .fa-th {
    font-size: 38px;
    color: $green;
    padding-top: 18px;
    margin-right: 15px;
  }
}


