<div class="col-sm-4">
  <div class="card-player mother">
    <div class="child">
      <h3><%= player.name %></h3>
    </div>
    <% if player.avatar == "" %>
      <div class="child">
        <%= image_tag "#{["Ninja1", "Ninja2", "Ninja3", "Ninja4", "Ninja5", "Ninja6", "Ninja7", "Ninja8"].sample}.png", class: "avatar-big" %>
      </div>
    <% else %>
      <div class="child">
      <%= image_tag "#{player.avatar}.png", class: "avatar-big" %>
      </div>
    <% end %>
  </div>
</div>

