<% if language == "english" %>

  <div class="hidden-md hidden-lg">
    <div class="container-text">
      <p class="central-text">Get ready to answer</p>
    </div>
  </div>

<% else %>

  <div class="hidden-md hidden-lg">
    <div class="container-text">
      <p class="central-text">Preparez vous a repondre</p>
    </div>
  </div>

<% end %>



