<div class="hidden-md hidden-lg">
  <div class="avatar-container">
    <div class="avatar-badge badge-countdown" id="countdown">
      <div id="avatar_countdown"><%= image_tag "#{user.avatar}.png" %></div>
      <div id="circle_countdown">
        <svg>
          <circle r="46" cx="50" cy="50"></circle>
        </svg>
      </div>
    </div>
  </div>
</div>
