<div class="hidden-md hidden-lg">
  <% if quiz_answer.nil? %>
    <div class="container-text-failure">
      <div class="svg text-center">
        <svg width="120" height="120" viewBox="-263.5 236.5 26 26">
          <g class="svg-failure">
            <circle cx="-250.5" cy="249.5" r="12"/>
            <path d="M-253 246l6 8-7.8"/>
            <path d="M-247 246l-6 8-7.8"/>
          </g>
        </svg>
         <div class="central-text"><h4>You did not answer.. </h4></div>
         <div class="central-text"><h4>Hurry up next time! </h4></div>
      </div>
    </div>
  <% else %>
    <% if quiz_answer.answer.is_correct %>
    <div class="container-text">
      <div class="svg text-center">
        <svg width="120" height="120" viewBox="-263.5 236.5 26 26">
          <g class="svg-success">
            <circle cx="-250.5" cy="249.5" r="12"/>
            <path d="M-256.46 249.65l3.9 3.74 8.02-7.8"/>
          </g>
        </svg>
        <div class="central-text"><h4>Correct! You scored <%= quiz_answer.points%> points</h4></div>
      </div>
    </div>
    <% else %>
    <div class="container-text-failure">
      <div class="svg text-center">
        <svg width="120" height="120" viewBox="-263.5 236.5 26 26">
          <g class="svg-failure">
            <circle cx="-250.5" cy="249.5" r="12"/>
            <path d="M-253 246l6 8-7.8"/>
            <path d="M-247 246l-6 8-7.8"/>
          </g>
        </svg>
         <div class="central-text"><h4>Wrong!</h4></div>
      </div>
      </div>
    <% end %>
  <% end %>
</div>
