<% if language == "english" %>

  <div class="hidden-md hidden-lg">
    <div class="container-text">
      <p class="central-text">Time's up!</p>
    </div>
  </div>

<% else %>

  <div class="hidden-md hidden-lg">
    <div class="container-text">
      <p class="central-text">Temps écoulé</p>
    </div>
  </div>

<% end %>


