<% if language == "english" %>

  <div class="hidden-md hidden-lg">
    <div class="container-text">
      <p class="central-text">Watch the screen</p>
    </div>
  </div>

<% else %>

  <div class="hidden-md hidden-lg">
    <div class="container-text">
      <p class="central-text">Regardez l'ecran principal</p>
    </div>
  </div>

<% end %>


