<div class="wrapper">
  <div class="text-centered-results">
    <div class="text-centered-results-vertical">
      <div class="congrats">
        That's it for this round !
      </div>

      <div class="textresults">
        You are ranking
        <%= player_ranking + 1 %> out of
          <%= users_ranked.length %> with
            <%= user_points %> points
      </div>

    </div>
  </div>
</div>
