<% if current_user %>
  <% current_user.destroy %>
<% end %>



<div class="home-container">
  <div class="wrapper-home-actions">
    <h2>Welcome to NinjaQuiz!</h2>
    <%= link_to new_user_registration_path do%>
      <div class="btn home-actions-play">Play</div>
    <% end %>
    <%= link_to new_admin_session_path do%>
      <div class="home-actions-log">Admin</div>
    <% end %>
    <a href="about">About NinjaQuiz</a>
  </div>
</div>

