<% if current_user %>
  <% current_user.destroy %>
<% end %>



<div class="home-container">
  <div class="wrapper-home-actions">
    <%= link_to new_user_registration_path do%>
      <div class="home-actions-play">Play</div>
    <% end %>
    <%= link_to new_user_registration_path do%>
      <div class="home-actions-log">Admin</div>
    <% end %>
  </div>
</div>

