<div class="home-container">
  <div class="avatar-home">
    <%= link_to quiz_path(current_user.quizzes.first.id) do %>
      <%=  image_tag "Ninja1.png" %>
    <% end %>
  </div>
  <div class="home-title">
    <h1>NinjaQuiz</h1>
    <h4>Show who's the boss. Become a ninja!</h4>
   </div>
  <div class="avatar-home">
    <%= image_tag "Ninja5.png" %>
  </div>
</div>





