
.answer-displayed {
  color: black;
  background-color: white;
  border: solid 3px #23b360;
  opacity: 1;
  width: 100%;
  height: 100px;
  display: flex;
  justify-content:center;
  align-items:center;
  padding: 10px;
  margin: 3px;
  border-radius: 20px;
}

.answer-displayed-small {
  color: black;
  background-color: white;
  border: solid 3px #23b360;
  opacity: 1;
  width: 100%;
  display: flex;
  justify-content:center;
  align-items:center;
  padding: 10px;
  border-radius: 20px;
}

.answer-displayed-small-correct {
  color: white;
  background-color: $green;
  border: solid 3px #23b360;
  opacity: 1;
  width: 100%;
  display: flex;
  justify-content:center;
  align-items:center;
  padding: 10px;
  border-radius: 20px;
}

.wrapper-player-who-answered {
  color: black;
  background-color: white;
  border: solid 3px #23b360;
  opacity: 1;
  width: 100%;
  padding: 10px;
  border-radius: 20px;
  min-height: 62px;
}

.player-who-answered-name {
  color: black;
}


.answer-display-admin.correct-displayed {
  color: white;
  background-color: $green;
}


.answer-container {
  height: calc(100vh - 145px);
  display:flex !important;
  flex-direction: column !important;
  align-items: center !important;
  justify-content: center !important;
}

.central-text {
  color: white;
  font-weight: bolder;
  text-align: center;
  padding: 0 1em;
   }

 .container-text {
   height : 80vh;
   display: flex;
   flex-direction: column;
   justify-content: space-evenly;
   align-items: center;
   font: "ubuntu";
   font-size: 3em;
 }

  .container-text-success {
   height : 100vh;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   font: "ubuntu";
   font-size: 3em;
   background-color: $ninja-green;
   position: fixed;
   top: 0;
   width: 100%;
 }

 .container-text-failure {
   height : 100vh;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   font: "ubuntu";
   font-size: 3em;
   background-color: $red;
   position: fixed;
   top: 0;
   width: 100%;
 }

.answer_form > form {
  width: 80%;
  margin: 15px 0;
}


.unselected_answer {
  opacity: 0.4;
}

.ninja-input.selected_answer {
  background-color: $ninja-green;
  color: white !important;
  text-decoration: none;
  opacity: 1;
}

.disabled_item {
  pointer-events:none;
}

.wrapper-display-admin {
  background-color: #4f3d7b;
  color: white;
  font-family: "Ubuntu", sans-serif;
}

.question-number-admin {
  font-size: 1.5em;
  text-align: center;
}

.question-display-admin {
  padding: 0.5em 0 0.5em 0;
  text-align: center;
  font-size: 2.5em;
}

.answer-display-admin {
  text-align: center;
  padding: 1em;
  margin: 1em;
  border-radius: 20em;
  background-color: #6e57a7;
  font-size: 1.5em;
}

.answer-container-admin {
  vertical-align: middle;
  padding: 0em;
  max-width: 80vw;
  min-width: 35vw;
}

.answer-center-admin {
  display: flex;
  justify-content: center;
}

.text-centered-results {
  text-align: center;
}

.congrats {
  font-size: 2em;
  padding: 1em;
  font-weight: bold;
}
.text-centered-results {
  text-align: center;
}

.textresults {
  padding: 1em;
  font-size: 1.5em;
}

.text-centered-results-vertical {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.wrapper {
  background-color: $ninja-purple;
  height: 100vh;
  width: 100vw;
  color: white;
}




