.card-player {
height: 215px;
padding: 10px;
border-radius: 5px;
background-color: $ninja-purple-light;
color: white;
margin-top: 20px;
margin-bottom: 0.5em;
box-shadow: 5px 5px 20px -2px rgba(191,191,191,0.5);
opacity: 0.9;
font-weight: bold;


}

#counter {
  color: white;
  background-color: transparent;
  border: white 0.5px solid;
}

// .card {
// height: 275px;
// padding: 10px;
// border-radius: 5px;
// background-color: #ededed;
// margin-bottom: 0.5em;
// box-shadow: 16px 17px 14px -12px rgba(191,191,191,0.57);
// opacity: 0.9;
// font-weight: bold;
// }


// .card-image {
//   height: 200px;
//   border-radius: 5px;
// }

// .category-city {
//   padding-top: 0.5em;
//   color: #767676;
// }


// .card-content {
//   display: flex;
//   justify-content: space-between;
//   align-items: top;
// }

// .card-description {
//   color: #484848;
// }

// .card-price {
//   padding-top: 0.5em;
//   color: #767676;
// }

// .card:hover {
// box-shadow: 25px 25px 25px -12px rgba(191,191,191,0.57);
// transform: translate(0, -7px);
// opacity: 1;
// }

// #mid-window {
//   width: 25em
// }

// .sunset {
//   width: 25em
// }

// .card-column {
// border-radius: 10px;
// background-color: #ededed;
// box-shadow: 16px 17px 14px -12px rgba(191,191,191,0.57);
// margin-top: 10px;
// width: 30em;
// padding: 20px;
// }

// //Card pour view new services
// .card-small-wide {
// display: flex;
// height: 100px;
// padding: 14px;
// border-radius: 5px;
// background-color: #ededed;
// margin-bottom: 0.5em;
// box-shadow: 16px 17px 14px -12px rgba(191,191,191,0.57);
// opacity: 0.9;
// }

// .card-sneak-pic {
//   position: relative;
//   left: 3px;
//   width: 90px;
//   height: 70px;
//   border-radius: 5px;
//   flex: 0 0 auto;
//   vertical-align: middle;
//   margin-right: 30px;
// }

// .card-pic-show {
//   position: relative;
//   width: 340px;
//   height: 240px;
//   border-radius: 5px;
//   flex: 0 1 auto;
//   margin-top: 5px;
// }

// .card-description-wrapper {
//   flex: 1 1 auto;
//   display: flex;
//   flex-direction: column;
//   position:relative;
// }

// .card-component-small {
//   flex: 1 1 auto;
//   overflow: hidden;
// }

// .card-component-form {
//   padding-left: 50px;
//   padding-right: 50px;
//   overflow: hidden;
//   flex: 0 1 auto;
// }

// .card-component-small p {
//   font-size: 14px;
//   line-height: 17px;
// }

// .card-description-icon-up {
//   color: #484848;
//   margin-top: 1em;
// }

// .card-description-icon-down {
//   color: #484848;
// }

// #mid-window-height-flex {
//   height: 45vh;
//   display: flex;
//   justify-content: space-around;
//   align-items: center;
//   flex-direction: column;
//   vertical-align: middle;
// }

// #mid-window-height-flex #button-user-service {
//  flex: 0 1 auto;
//   width: 200px;
//   height: 40px;
// }

// .confirmed {
//   background-color: #DBD5B5;
// }

// #kill-link a {
//  color: $green;
// }
