.ninja-input {
  color: white;
  border-radius: 10em;
  width: 100%;
  padding: 3vh;
  font-size: 20px;
  border: none;
  font-family: "Ubuntu" !important;
  align-item: center !important;
  box-shadow: none;
  text-decoration: none;
  white-space: normal;
  background-color: $ninja-purple-light;
}
