// Import your components CSS files here.
@import "alert";
@import "navbar";
@import "login_form";
@import "avatar";

@import "question";
@import "answer";
@import "button";

.container {
  background-color: white;
  border-radius: 30px;
}

body {
  background-color: $blue;
}
