.form-login {
  background: white;
  padding: 10px 20px;
  margin-top: 50px;
  border-radius: 3px;
  text-align: center;
 ;
  h2 {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 30px;
    text-align: center;
  }
  .btn {
    width: 100%;
    margin-bottom: 20px;
    margin-top: 20px;
  }

  .avatar-label {
    margin-top: 10px;
    margin-bottom: 30px;
  }
  .radio label, .checkbox label {
    padding-left: 0px;
  }
}
#new_user{
  .radio_buttons {
    input {
      display: none;
    }
  }
}
