.podium {
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  width: 80%;
  margin: auto;
  margin-bottom: 50px;
}

.podium-top.podium-item {
  height: 535px;
  > img {
    width: 45%;
    margin-bottom: 71px;
  }
  .results {
    margin-bottom: 1px;
  }
}

.podium-right, .podium-left {
  height: 410px;
}

.podium-item {
  background-color: $ninja-purple-light;
  color: white;
  font-weight: bold;
  padding: 0 20px 20px 20px;
  border-radius: 3px;
  text-align: center;
  margin: 0 10px;
  > img {
    width: 45%;
  }
}

.results-description {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-top: 20px;
  align-items: center;
  height: 210px;
}

.results-description img {
  width: 30%;
}

.results {
  margin: 0px;
}

.name {
  margin-bottom: 10px;
  font-weight: bolder;
  font-size: 30px;
}

.points {
  margin-bottom: 10px;
  opacity: 0.8;
  font-size: 25px;
}

.title {
  text-align: center;
  font-size: 50px;
  margin-bottom: 35px;
}

