.podium {
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  width: 80%;
  margin: auto;
  margin-bottom: 50px;
}

.podium-top.podium-item {
  height: 700px;
  img {
    width: 40%;
    margin-bottom: 71px;
  }
}

.podium-right, .podium-left {
  height: 500px;
}

.podium-item {
  background-color: $ninja-purple-light;
  color: white;
  font-weight: bold;
  padding: 0 20px 20px 20px;
  border-radius: 3px;
  text-align: center;
  img {
    width: 40%;
  }
}

.results-description {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-top: 20px;
  align-items: center;
  height: 291px;
}

.results-description img {
  width: 30%;
}

.results {
}

.name {
  margin-bottom: 0px;
  font-weight: bolder;
  text-transform: uppercase;
  font-size: 25px;
}

.points {
  margin-bottom: 0;
  opacity: 0.5;
  font-size: 25px;
}

.title {
  text-align: center;
  font-size: 50px;
  margin-bottom: 100px;
}

