.podium {
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  width: 80%;
  margin: auto;
  margin-bottom: 50px;
}

.podium-top.podium-item {
  height: 70vh;
  > img {
    width: 45%;
    margin-bottom: 71px;
  }
  .results {
    margin-bottom: 1px;
  }
}

.podium-right {
  height: 65vh;
}

.podium-left {
  height: 60vh;
}

.podium-item {
  background-color: $ninja-purple-light;
  color: white;
  font-weight: bold;
  padding: 0 20px 20px 20px;
  border-radius: 3px;
  text-align: center;
  margin: 0 10px;
  width: 22vh;
  position: relative;
  > img {
    width: 45%;
  }
}

.results-description {
  position: absolute;
  bottom: 40px;
  right:10px;
  left:10px;
}

.results-description img {
  width: 30%;
  margin: auto;
}

.results {
  margin: 0px;
}

.name {
  margin-bottom: 10px;
  font-weight: bolder;
  font-size: 60px;
}

.points {
  margin-bottom: 10px;
  opacity: 0.8;
  font-size: 25px;
}

.title {
  text-align: center;
  font-size: 50px;
  margin-bottom: 35px;
}

