.wrapper-quiz-details {
}

.quiz-details-container {
  // margin-left: 10vw;
  margin-top: 20px;
  font-size:14px;
}

.quiz-detail-title {
  color: white;
  background-color: #6e57a7;
  opacity: 1;
  /* min-width: 190px; */
  width: 200px;
  max-width: 40vw;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  margin-left: auto;
  margin-bottom: 10px;
  border-radius: 20px;
}

.quiz-detail-save {
  color: white;
  background-color: $ninja-green;
  opacity: 1;
  /* min-width: 190px; */
  width: 400px;
  max-width: 40vw;
  height: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  // margin:0px 70px;
  border-radius: 20px;
  margin: auto;
}

.quiz-detail {
  margin-right: auto;
  .form-group {
    width: 200px;
    max-width: 40vw;
    height: 80px;
    font-size: 14px;
    line-height: 1.428571429;
    color: #000000;
    background-color: #ffffffc4;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 20px;
    margin: 0px 5px;
    overflow:hidden;
    padding: 6px 12px;
    text-align: center;
  }
  .form-control {
    width:100%;
    height:100%;
    padding: 6px 12px;
    background-color: transparent;
    border: 0px none;
    box-shadow: none;
    font-size:14px;

  }
  .radio_buttons {
  }
}

.quiz-detail-container {
  display: flex;
}

.wrapper-rounds-edit {

}

.container-rounds-edit {
  max-width: 80vw;
  width: 1000px;
  margin: auto;
  margin-top: 30px;

}

.container-round-edit-details {
  margin: 10px 5px;
  display:flex;
}

.round-edit-details {
  width:80%;
  background-color: #6e57a7;
  border: 1px solid #ccc;
  border-radius: 20px;
  height: 80px;
  border: 0px none;
  font-size:14px;
  margin: 0px 5px;
}

.round-edit-details-edit-button {
  color: white;
  background-color: #19e2213d;
  opacity: 1;
  /* min-width: 190px; */
  width: 10%;
  max-width: 40vw;
  height: 80px;
  margin-left: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  // margin:0px 70px;
  border-radius: 20px;
  font-size:14px;
  border: 0px none;
}

.round-edit-details-delete-button {
  color: white;
  background-color: $red;
  opacity: 1;
  /* min-width: 190px; */
  width: 10%;
  max-width: 40vw;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 5px;
  padding: 10px;
  // margin:0px 70px;
  border-radius: 20px;
  font-size:14px;
  border: 0px none;
}

.container-round-edit-details-form{
  margin: 10px 5px;
  display:flex;
}

.round-edit-details-form-category{
  width:80%;
  margin: 0px 5px;
  .form-group {
    width:100%;
    background-color: #ffffffc4;
    border: 1px solid #ccc;
    border-radius: 20px;
    height: 80px;
    border: 0px none;
    font-size:14px;
    text-align: center;
  }
  .form-control {
    width:100%;
    height:100%;
    padding: 6px 12px;
    background-color: transparent;
    border: 0px none;
    box-shadow: none;
    font-size:14px;
    text-align: center;
  }
}

.round-edit-details-form-save{
  color: white;
  background-color: $ninja-green;
  opacity: 1;
  /* min-width: 190px; */
  width: 10%;
  max-width: 40vw;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  // margin:0px 70px;
  border-radius: 20px;
  font-size:14px;
  border: 0px none;
}

.round-edit-details-form-cancel{
  color: white;
  background-color: $red;
  opacity: 1;
  /* min-width: 190px; */
  width: 10%;
  max-width: 40vw;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  // margin:0px 70px;
  border-radius: 20px;
  font-size:14px;
  border: 0px none;
  margin: 0px 5px;
}

.container-round-edit-questions {
  width: 80%;
  margin-left: 10px;
}

.container-round-edit-question {
  margin: 10px 5px;
  display: flex;
  height:80px;
}

.round-edit-question-details {
  width:80%;
  background-color: #917aca;
  border: 1px solid #ccc;
  border-radius: 20px;
  height: 80px;
  border: 0px none;
  font-size:14px;
  margin: 0px 5px;
  overflow:scroll;
}

.round-edit-question-details-edit-button {
  color: white;
  background-color: #19e2213d;
  opacity: 1;
  /* min-width: 190px; */
  width: 20%;
  max-width: 40vw;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  // margin:0px 70px;
  border-radius: 20px;
  font-size:14px;
  border: 0px none;
  margin-right:5px;
}

.container-round-edit-question-details-form{
  margin: 10px 5px;
  display:flex;
  height:80px;
}

.round-edit-question-details-form-content{
  width:80%;
  margin: 0px 5px;
  .form-group {
    width:100%;
    background-color: #ffffffc4;
    border: 1px solid #ccc;
    border-radius: 20px;
    height: 80px;
    border: 0px none;
    font-size:14px;
    text-align: center;
  }
  .form-control {
    width:100%;
    height:100%;
    padding: 6px 12px;
    background-color: transparent;
    border: 0px none;
    box-shadow: none;
    font-size:14px;
    text-align: center;
  }
}

.round-edit-question-details-form-save{
  color: white;
  background-color: $ninja-green;
  opacity: 1;
  /* min-width: 190px; */
  width: 10%;
  max-width: 40vw;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  // margin:0px 70px;
  border-radius: 20px;
  font-size:14px;
  border: 0px none;
}

.round-edit-question-details-form-cancel{
  color: white;
  background-color: $red;
  opacity: 1;
  /* min-width: 190px; */
  width: 10%;
  max-width: 40vw;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  // margin:0px 70px;
  border-radius: 20px;
  font-size:14px;
  border: 0px none;
  margin: 0px 5px;
}

.container-round-edit-question-answers {
  width: 80%;
  margin-left: 10px;
}

.container-round-edit-question-answer-details {
  margin: 10px 5px;
  display: flex;
}

.round-edit-question-answer-details {
  width:80%;
  background-color: #917aca;
  border: 1px solid #ccc;
  border-radius: 20px;
  height: 80px;
  border: 0px none;
  font-size:14px;
  margin: 0px 5px;
  vertical-align: middle;
  text-align: center;
  line-height: 80px;
  overflow:scroll;
}

.round-edit-question-answer-details-edit-button {
  color: white;
  background-color: #19e2213d;
  opacity: 1;
  /* min-width: 190px; */
  width: 20%;
  max-width: 40vw;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  // margin:0px 70px;
  border-radius: 20px;
  font-size:14px;
  border: 0px none;
  margin-right:5px;
}

.container-round-edit-question-answer-details-form{
  margin: 10px 5px;
  display:flex;
  height:80px;
}

.round-edit-question-answer-details-form-content{
  width:80%;
  margin: 0px 5px;
  .form-group {
    width:100%;
    background-color: #ffffffc4;
    border: 1px solid #ccc;
    border-radius: 20px;
    height: 80px;
    border: 0px none;
    font-size:14px;
    text-align: center;
  }
  .form-control {
    width:100%;
    height:100%;
    padding: 6px 12px;
    background-color: transparent;
    border: 0px none;
    box-shadow: none;
    font-size:14px;
    text-align: center;
  }
}

.round-edit-question-answer-details-form-content-is-correct {
  .form-group {
    max-width: 40vw;
    height: 80px;
    font-size: 14px;
    line-height: 1.428571429;
    color: #000000;
    background-color: #ffffffc4;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 20px;
    margin: 0px 5px;
    overflow:hidden;
    padding: 6px 12px;
    text-align: center;
  }
  .form-control {
    width:100%;
    height:100%;
    padding: 6px 12px;
    background-color: transparent;
    border: 0px none;
    box-shadow: none;
    font-size:14px;
  }
}

.round-edit-question-answer-details-form-save{
  color: white;
  background-color: $ninja-green;
  opacity: 1;
  /* min-width: 190px; */
  width: 120px;
  max-width: 40vw;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  // margin:0px 70px;
  border-radius: 20px;
  font-size:14px;
  border: 0px none;
}

.round-edit-question-answer-details-form-cancel{
  color: white;
  background-color: $red;
  opacity: 1;
  /* min-width: 190px; */
  width: 120px;
  max-width: 40vw;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  // margin:0px 70px;
  border-radius: 20px;
  font-size:14px;
  border: 0px none;
  margin: 0px 5px;
}

.container-new-round {
  margin: 10px 5px;
  display:flex;
}

.new-round {
  width:80%;
  background-color: #00f17978;
  border: 1px solid #ccc;
  border-radius: 20px;
  border: 0px none;
  font-size:14px;
  margin: 0px 5px;
  vertical-align: middle;
  text-align: center;
  line-height: 80px;
  .fas{
    margin-right: 10px;
  }
}

.new-question-modal-button {
  width:80%;
  background-color: #00f17978;
  border: 1px solid #ccc;
  border-radius: 20px;
  border: 0px none;
  font-size:14px;
  margin: 0px 5px;
  vertical-align: middle;
  text-align: center;
  line-height: 80px;
  .fas{
    margin-right: 10px;
  }
}

.modal-new-round-content {
  position: relative;
  border: 1px solid #999;
  background-color: #b8a7d2;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 2px;
  box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
  background-clip: padding-box;
  outline: 0;
  .form-group {
    font-size: 14px;
    font-weight: none;
  }
  .form-control {
    font-size: 14px;
    font-weight: none;
  }
}

.modal-new-questions-content {
  position: relative;
  border: 1px solid #999;
  background-color: #b8a7d2;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 2px;
  box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
  background-clip: padding-box;
  outline: 0;
  .form-group {
    font-size: 14px;
    font-weight: none;
  }
  .form-control {
    font-size: 14px;
    font-weight: none;
  }
}

.container-new-question{
display: flex;
height:100%;
}

.new-question-title {
    height: 40px;
    line-height: 40px;
    margin-right: 10px;
    width: 35%;
    margin-top: 25px;
    position: relative;
    background-color: #02020257;
    border: 1px solid #ccc;
    border-radius: 20px;
    border: 0px none;
    font-size: 14px;
    text-align: center;
  // vertical-align: middle;
  // text-align: center;

}

.new-question-category {
  margin-right:10px;
  width:30%
  // vertical-align: middle;
  // text-align: center;
}

.new-question-type {
  margin-right:10px;
  width:20%
  // vertical-align: middle;
  // text-align: center;
}

.new-question-save {
    color: white;
    background-color: $ninja-green;
    opacity: 1;
  /* min-width: 190px; */
    height: 40px;
    line-height: 40px;
    margin-top: 25px;
    margin-left:10px;
    margin-right:10px;
    position: relative;
    border: 1px solid #ccc;
    border-radius: 20px;
    border: 0px none;
    font-size: 14px;
    text-align: center;
}

.container-new-quiz-question{
  display: flex;
  height:100%;
  margin-bottom: 15px;
  padding-bottom: 15px;
  border-bottom: 1px solid #ccc;

}

.container-new-quiz-question-saved{
  height:100%;
  margin-bottom: 15px;
  padding-bottom: 15px;
  border-bottom: 1px solid #ccc;

}

.new-random-quiz-question-content {
    /* height: 40px; */
    /* line-height: 40px; */
    margin-right: 10px;
    width: 70%;
    margin-top: 25px;
    position: relative;
    background-color: #7171714f;
    border: 1px solid #ccc;
    border-radius: 20px;
    border: 0px none;
    font-size: 14px;
    text-align: center;
    padding: 5px;
  // vertical-align: middle;
  // text-align: center;

}

.new-random-quiz-question-category {
    height: 40px;
    line-height: 40px;
    margin-right: 10px;
    width: 50%;
    margin-top: 25px;
    position: relative;
    background-color: #02020257;
    border: 1px solid #ccc;
    border-radius: 20px;
    border: 0px none;
    font-size: 14px;
    text-align: center;
  // vertical-align: middle;
  // text-align: center;
}

.new-random-quiz-question-validation {
  display:flex;
  // vertical-align: middle;
  // text-align: center;
}

.new-random-quiz-question-save {
    color: white;
    background-color: $ninja-green;
    opacity: 1;
  /* min-width: 190px; */
    height: 40px;
    line-height: 40px;
    margin-top: 25px;
    margin-left:10px;
    margin-right:10px;
    position: relative;
    border: 1px solid #ccc;
    border-radius: 20px;
    border: 0px none;
    font-size: 14px;
    text-align: center;
}

.new-random-question-reload {
    color: white;
    background-color: $ninja-green;
    opacity: 1;
  /* min-width: 190px; */
    height: 40px;
    line-height: 40px;
    margin-top: 25px;
    margin-left:10px;
    margin-right:10px;
    position: relative;
    border: 1px solid #ccc;
    border-radius: 20px;
    border: 0px none;
    font-size: 14px;
    text-align: center;
}

.new-random-quiz-question-content-saved {
    /* height: 40px; */
    /* line-height: 40px; */
    margin-right: 10px;
    width: 100%;
    margin-top: 25px;
    position: relative;
    background-color: #7171714f;
    border: 1px solid #ccc;
    border-radius: 20px;
    border: 0px none;
    font-size: 14px;
    text-align: center;
    padding: 5px;
  // vertical-align: middle;
  // text-align: center;

}

.new-manual-quiz-question-content {
    /* height: 40px; */
    /* line-height: 40px; */
    // margin-right: 10px;
    // width: 90%;
    // margin-top: 25px;
    // position: relative;
    // background-color: #7171714f;
    // border: 1px solid #ccc;
    // border-radius: 20px;
    // border: 0px none;
    // font-size: 14px;
    // text-align: center;
    // padding: 5px;
  // vertical-align: middle;
  // text-align: center;
  .edit_question {
    display: flex;
  }
  .form-group {
    margin-bottom: 0px;
  }
}

.new-manual-quiz-question-title-body {
    /* height: 40px; */
    /* line-height: 40px; */
    margin-right: 10px;
    margin-top: 25px;
    position: relative;
    background-color: #7171714f;
    border: 1px solid #ccc;
    border-radius: 20px;
    border: 0px none;
    font-size: 14px;
    text-align: center;
    padding: 10px;
    width: 400px;
  // vertical-align: middle;
  // text-align: center;
}

.new-manual-quiz-question-category {
    height: 40px;
    line-height: 40px;
    margin-right: 10px;
    width: 50%;
    margin-top: 25px;
    position: relative;
    background-color: #02020257;
    border: 1px solid #ccc;
    border-radius: 20px;
    border: 0px none;
    font-size: 14px;
    text-align: center;
  // vertical-align: middle;
  // text-align: center;
}

.new-manual-quiz-question-validation {
  display:flex;
  // vertical-align: middle;
  // text-align: center;
}

.new-manual-quiz-question-save {
    color: white;
    background-color: $ninja-green;
    opacity: 1;
    min-width: 100px;
    // height: 40px;
    line-height: 40px;
    margin-top: 25px;
    margin-left:10px;
    margin-right:10px;
    position: relative;
    border: 1px solid #ccc;
    border-radius: 20px;
    border: 0px none;
    font-size: 14px;
    text-align: center;
}

.new-manual-question-save {
    color: white;
    background-color: $ninja-green;
    opacity: 1;
    min-width: 60px;
    // height: 40px;
    line-height: 40px;
    margin-top: 25px;
    margin-left:10px;
    margin-right:10px;
    position: relative;
    border: 1px solid #ccc;
    border-radius: 20px;
    border: 0px none;
    font-size: 14px;
    text-align: center;
}

.new-manual-quiz-question-content-saved {
    /* height: 40px; */
    /* line-height: 40px; */
    margin-right: 10px;
    width: 100%;
    margin-top: 25px;
    position: relative;
    background-color: #7171714f;
    border: 1px solid #ccc;
    border-radius: 20px;
    border: 0px none;
    font-size: 14px;
    text-align: center;
    padding: 5px;
  // vertical-align: middle;
  // text-align: center;

}

.container-manual-new-question-answer {
  display: flex;
  height:100%;
}

.new-manual-question-answer-content {
  .new_answer {
    display: flex;
  }
  .form-group {
    margin-bottom: 0px;
  }
}

.new-manual-question-answer-title-body {
      /* height: 40px; */
    /* line-height: 40px; */
    margin-right: 10px;
    margin-top: 25px;
    position: relative;
    background-color: #7171714f;
    border: 1px solid #ccc;
    border-radius: 20px;
    border: 0px none;
    font-size: 14px;
    text-align: center;
    padding: 20px;
    width: 400px;
  // vertical-align: middle;
  // text-align: center;
}

.new-manual-question-answer-saved-title-body {
      /* height: 40px; */
    /* line-height: 40px; */
    height:30px;
    margin-right: 10px;
    margin-top: 10px;
    position: relative;
    background-color: #7171714f;
    border: 1px solid #ccc;
    border-radius: 20px;
    border: 0px none;
    font-size: 14px;
    text-align: center;
    padding: 5px;
    width: 400px;
  // vertical-align: middle;
  // text-align: center;
}

.new-manual-question-answer-correct-box {
  .form-group {
    margin-top: 25px;
    font-size: 12px;
    padding: 3px;
  }
}
