.wrapper-quiz-details {
}

.quiz-details-container {
  // margin-left: 10vw;
  margin-top: 20px;
  font-size:14px;
}

.quiz-detail-title {
  color: white;
  background-color: #6e57a7;
  opacity: 1;
  /* min-width: 190px; */
  width: 200px;
  max-width: 40vw;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  margin-left: auto;
  margin-bottom: 10px;
  border-radius: 20px;
}

.quiz-detail-save {
  color: white;
  background-color: $ninja-green;
  opacity: 1;
  /* min-width: 190px; */
  width: 400px;
  max-width: 40vw;
  height: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  margin:0px 70px;
  border-radius: 20px;
}

.quiz-detail {
  margin-right: auto;
  .form-group {
    width: 200px;
    max-width: 40vw;
    height: 80px;
    font-size: 14px;
    line-height: 1.428571429;
    color: #000000;
    background-color: #ffffffc4;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 20px;
    margin: 0px 5px;
    overflow:hidden;
    padding: 6px 12px;
    text-align: center;
  }
  .form-control {
    width:100%;
    height:100%;
    padding: 6px 12px;
    background-color: transparent;
    border: 0px none;
    box-shadow: none;
    font-size:14px;

  }
  .radio_buttons {
  }
}

.quiz-detail-container {
  display: flex;
}

.wrapper-rounds-edit {

}

.container-rounds-edit {
  max-width: 80vw;
  width: 1000px;
  margin: auto;
  margin-top: 30px;

}

.container-round-edit-details {
  margin: 10px 5px;
  display:flex;
}

.round-edit-details {
  width:80%;
  background-color: #6e57a7;
  border: 1px solid #ccc;
  border-radius: 20px;
  height: 80px;
  border: 0px none;
  font-size:14px;
  margin: 0px 5px;
}

.round-edit-details-edit-button {
  color: white;
  background-color: #19e2213d;
  opacity: 1;
  /* min-width: 190px; */
  width: 20%;
  max-width: 40vw;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  // margin:0px 70px;
  border-radius: 20px;
  font-size:14px;
  border: 0px none;
}

.container-round-edit-details-form{
  margin: 10px 5px;
  display:flex;
}

.round-edit-details-form-category{
  width:80%;
  margin: 0px 5px;
  .form-group {
    width:100%;
    background-color: #ffffffc4;
    border: 1px solid #ccc;
    border-radius: 20px;
    height: 80px;
    border: 0px none;
    font-size:14px;
    text-align: center;
  }
  .form-control {
    width:100%;
    height:100%;
    padding: 6px 12px;
    background-color: transparent;
    border: 0px none;
    box-shadow: none;
    font-size:14px;
    text-align: center;
  }
}

.round-edit-details-form-save{
  color: white;
  background-color: $ninja-green;
  opacity: 1;
  /* min-width: 190px; */
  width: 20%;
  max-width: 40vw;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  // margin:0px 70px;
  border-radius: 20px;
  font-size:14px;
  border: 0px none;

}

.container-round-edit-questions {
  width: 80%;
  margin-left: 10px;
}

.container-round-edit-question {
  margin: 10px 5px;
  display: flex;
}

.round-edit-question-details {
  width:80%;
  background-color: #917aca;
  border: 1px solid #ccc;
  border-radius: 20px;
  height: 80px;
  border: 0px none;
  font-size:14px;
  margin: 0px 5px;
}

.round-edit-question-details-edit-button {
  color: white;
  background-color: #19e2213d;
  opacity: 1;
  /* min-width: 190px; */
  width: 20%;
  max-width: 40vw;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  // margin:0px 70px;
  border-radius: 20px;
  font-size:14px;
  border: 0px none;
  margin-right:5px;
}

.container-round-edit-question-answers {
  width: 80%;
  margin-left: 10px;
}

.container-round-edit-question-answer {
  margin: 10px 5px;
  display: flex;
}

.round-edit-question-answer-details {
  width:80%;
  background-color: #917aca;
  border: 1px solid #ccc;
  border-radius: 20px;
  height: 80px;
  border: 0px none;
  font-size:14px;
  margin: 0px 5px;
}

.round-edit-question-answer-details-edit-button {
  color: white;
  background-color: #19e2213d;
  opacity: 1;
  /* min-width: 190px; */
  width: 20%;
  max-width: 40vw;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  // margin:0px 70px;
  border-radius: 20px;
  font-size:14px;
  border: 0px none;
  margin-right:5px;
}

